<div class="Container__Body">
    <form class="contenedor-formulario" method="POST" action="/admin/product/new">
        <h2>Ver Producto</h2>
        <div class="row">
            <div class="col-md-12">
                <label for="form-Categoria" class="form-label">Categoria</label>
                <label> {{Categoria}} </label>

            </div>
        </div>
        <div class="row">
            <div class="categoriaNombre col-md-6">
                <label for="form-Nombre" class="form-label">Producto:</label>
                <label> {{Producto}} </label>
            </div>
            <div class="categoriaPrecio col-md-6">
                <label for="form-Precio" class="form-label">Precio: $</label>
                <label> {{Precio}} </label>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                <label> {{Descripcion}} </label>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="Formulario__Imagen-Preview" src="/images/{{UID}}" alt="">
            </div>
        </div>
        <div class="divButtons">
            <a href="/admin/product/list/" class="btn btn-secondary">Cancelar</a>
        </div>

    </form>
</div>