<div class="Container__Body">
  <form class="contenedor-formulario" method="POST" action="/users/update/{{user.ID_Usuario}}">
    <H2>Editar Usuario</H2>
    <div class="row">
      <div class="col-md-6">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" name="Nombre" value="{{user.Nombre}}">
        <label class="validacion" id="lblValidacionNombre"></label>
      </div>
      <div class="col-md-6">
        <label for="inputApellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputApellido" name="Apellido" value="{{user.Apellido}}">
        <label class="validacion" id="lblValidacionApellido"></label>
      </div>
    </div>
    <div class="row">
      <div class="emailClase col-6">
        <label for="inputEmail" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="UserName" value="{{user.UserName}}">
        <label class="validacion" id="lblValidacionUserName"></label>
      </div>
    </div>
    <div class="row">
      <div class="emailClase col-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="example@outloock.com"
          value="{{user.Email}}" name="Email">
        <label class="validacion" id="lblValidacionEmail"></label>
      </div>
    </div>

    {{!-- <div class="row">
    <div class="passwordClase col-md-12">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" value="{{user.Password}}">
    </div>
  </div> --}}
    <div class="divButtons">
      <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
      <a href="/admin/users/list/" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>

  <script>
    $(document).ready(function () {
      debugger;
      var estaOk = true;
      $("#btnGuardar").click(function () {
        var nombre = $("#inputNombre").val();
        if (nombre == "") {
          $("#lblValidacionNombre").text("este campo no puede estar vacio");
          estaOk = false;
        } else {
          $("#lblValidacionNombre").text("");
          if (nombre.length > 50) {
            $("#lblValidacionNombre").text("la longitud maxima de este campo es de 50 caracteres");
            estaOk = false;
          } else {
            $("#lblValidacionNombre").text("");
          }
        }


        var apellido = $("#inputApellido").val();
        if (apellido == "") {
          $("#lblValidacionApellido").text("este campo no puede estar vacio");
          estaOk = false;
        } else {
          $("#lblValidacionApellido").text("");
          if (apellido.length > 50) {
            $("#lblValidacionApellido").text("la longitud maxima de este campo es de 50 caracteres");
            estaOk = false;
          } else {
            $("#lblValidacionApellido").text("");
          }
        }
        var Username = $("#inputUsername").val();
        if (Username == "") {
          $("#lblValidacionUsername").text("este campo no puede estar vacio");
          estaOk = false;
        } else {
          $("#lblValidacionUsername").text("");
          if (Username.length > 50) {
            $("#lblValidacionUsername").text("la longitud maxima de este campo es de 50 caracteres");
            estaOk = false;
          } else {
            $("#lblValidacionUsername").text("");
          }
        }



        var email = $("#inputEmail").val();
        if (email == "") {
          $("#lblValidacionEmail").text("este campo no puede estar vacio");
          estaOk = false;
        } else {
          $("#lblValidacionEmail").text("");
          if (email.length > 50) {
            $("#lblValidacionEmail").text("la longitud maxima de este campo es de 50 caracteres");
            estaOk = false;
          } else {
            $("#lblValidacionEmail").text("");
          }
        }

        if (estaOk)
          $("form").submit();


      });
    });
  </script>